@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




/* navbar */
/*
nav{
  background: #ffffff;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #040404;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

nav ul li.items1{
  position: relative;
  width: auto;
  margin: 0 16px;
  top: 21px;
  text-align: center;
  order: 3;
}
nav ul li.logo{
  flex: 1;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: rgb(9, 9, 9);
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: rgb(13, 12, 12);
  font-size: 22px;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
    margin-bottom: 14px;
  }
  nav ul li.items.show{
    display: block;
    height: 60px;
  }
  nav ul li.btn{
    display: block;

  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #0c0c0c,
                inset 0 0 10px #040404;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
  
}

.flex{
  display: flex;
  flex-wrap: wrap;

}
/* nav{
  display: flex;
  color: black;
  padding: 1rem;
} 
a{
  text-decoration: none;
  color: black;
}
/* nav a:hover{
  text-decoration: underline;
  font-size: 18px;
}

.logo{
  padding-right: 13rem;
  height: 30%;
}
.home,.about,.pro,.con{
  padding: 3rem 1rem 0 1rem;
}
.test{
  display: none;
}
.sellang{
  right: 5%;
  top: 3rem;
  position: absolute; 
}
select{
  border:1px black;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}
*/

/* navbar ends */
html{
  font-family: sans-serif;
}

/* use this body styles in your code */
body{
  background-color: #fafdff;
  color: white;
  /* margin: 0 2% 0 2%; */
  overflow-x: hidden;
  margin-left: 0rem;
}

main{
  position: relative;
  width: 100%;
}
/* carousel section */
.wrapper{
  display: flex;
  max-width: auto;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.left,.right{
  z-index: 10;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  z-index: -2;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
  #slider-content h2{
    font-size:110px;
    line-height: 100px;
    width: 25px;
}
}


/* distortion slider */


main{
  margin-top:3rem;
  margin-bottom:8rem;
}
#slider{
  width: 100%;
  height: 100%;
  margin: 4rem 0rem 8rem 0rem;
  position: relative;
  top: 120px;
}

#slider canvas{
  width:90vw !important;
  max-height:fit-content;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity:1;
  filter: brightness(70%);
  text-align: center;
  background-color:white;
}

#slider img{
  width: 65%;
  position: relative;
  z-index: 0;
  display: inline;
  background-color: white;
  

}
.img1{
  display:none;
  border:0;
  opacity: 0;
}

#logo1{
  display:block;
}
#slider-inner{
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  max-width: auto;
  height: 100%;
  margin: -118px 0;
  z-index: 3;

}
#slider{
  margin-bottom: 10rem;
}

#slider-content{
  padding:0 10px;
  margin-left: 6rem;
  align-items: center;
}

/* changes in this will affect the elbin part */
#slider-content h2{
  font-family: serif;
  font-weight: 400;
  font-size: 30vw;
  letter-spacing: -1px;
  color: #fff;
  line-height: 30px;
  margin: 20px 0px 60px;
  z-index: 5;
  opacity: 1;
  width: 45rem;

}

@media screen and (min-width:320px){
  #slider-content h2{
      font-size:110px;
      line-height: 100px;
  }
}

#slider-content span{
  display: inline-block;
  z-index: 999;
  opacity: 1;
}

/* changes in this will affect the our products part */
#slider-content .meta{
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  letter-spacing: 5px;
  left: 20px;
  color:#ffffff;
  text-transform:uppercase;
  position: relative;
  font-weight:600;
  opacity: 1;
}

@media screen and (min-width:320px){
  #slider-content .meta{
      font-size:13px;
  }
}

#slider-content .meta::after{
  content:"";
  display:block;
  position:absolute;
  top :5px;
  right: -55px;
  width:45px;
  height: 2px;
  background-color:transparent;
}

/* changes in this will affect the cashewnut section */
#slider-content #slide-status{
  margin-top:10px;
  font-family: serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}

@media screen and (min-width:800px){
  #slider-content #slide-status{
      font-size: 34px;
  }
}

@media screen and (max-width:700px){
  #slider-title #slide-status{
    font-size:14px;
  }
  
}
#pagination{
  position:absolute;
  top:50px;
  transform: translateY(-50%);
  right: 30px;
  z-index: 6;
}

#pagination button{
  display:block;
  appearance: none;
  border: 0;
  width:16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top:250px;
  padding: 0;
  margin: 30px 0;
  cursor:pointer;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  outline: none;
  right: 4rem;
}

#pagination button:hover{
  opacity: 0.5;
}

#pagination button.active{
  opacity: 1;
}

#pagination button.active::before{
  width:300%;
  height: 300%;
  opacity:1;
}

#pagination button::before{
  content: "";
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255,255,255,0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.loading::before{
content:"";
position: fixed;  
z-index: 100000000;
top:0;
left:0;
width:100%;
background:black;

}

.loading::after{
  content:"";
  position:fixed;
  z-index:100000000;
  top:50%;
  left:50%;
  width:60px;
  height:60px;
  margin: -30px 0 0 -30px;
  pointer-events:none;
  border-radius: 50%;
  opacity:0.4s;
  background:white;
  animation: loaderanimation 0.7s linear infinite alternate forwards;
  display:flex
}

@keyframes loaderanimation{
  to{
      opacity:1;
      transform:scale3d(0.5,0.5,1);
  }
}



/* footer css */
.content1{
  position: bottom;
  margin: 0px;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  margin-top: 3rem;
  position: bottom;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #f7f7f7;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #fefafa;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.left .content .fas{
  font-size: 1.4375rem;
  background: #fdfafa;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.left .content .fas:hover{
  background: #f12020;
}
.left .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.left .content .phone{
  margin: 15px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 20px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
  color: white;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: bottom;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/* Auto Slide images */

.sliding-container h2{
  color:black;
  padding:2rem;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif
}

.container{
  padding-top:50px;
  margin-left: 2rem;
  margin-right: 2rem;
  display:flex;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  top:60%;
}

.card{
  border: black solid 0px;
}

.card-img{
  width:19rem;
  height:200px;
}

.card-title{
margin-top: 5rem;
text-align: center;
}
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
opacity: 1;
background-color: rgba(80, 80, 80, 0.192);
top: 0;
left: 7rem;
width: 16.7rem;
}

.imgt{
color: transparent;

}
.gallery  {
  padding-bottom: 3rem;
  --d: 9s;
  display: grid;
  overflow: hidden;
  width: auto;
}
.gallery > .img {
  grid-area: 1/5;
  height: 210px;
  aspect-ratio: 1.5;
  padding: 0 4rem 0 4rem;
  animation: r var(--d) linear infinite;
}
.gallery > .img:nth-child(2) {animation-delay: calc(1*var(--d)/-5)}
.gallery > .img:nth-child(3) {animation-delay: calc(2*var(--d)/-5)}
.gallery > .img:nth-child(4) {animation-delay: calc(3*var(--d)/-5)}
.gallery > .img:nth-child(5) {animation-delay: calc(4*var(--d)/-5)}

@keyframes r {
  75%    {transform: translate(-300%)}
  75.01% {transform: translate( 100%)}
}
.img:hover .imgt{
  opacity: 1;
  font-weight: 500;
  display:block;
  color: black;
  text-align: center;
}
.img:hover .card-img{
  display: block;
  opacity: 0.3;
}

.gallery:hover > .img {
  animation-play-state: paused;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: none;
}
#google_translate_element {
  font-family: arial;
  font-size: 11px;
  color: #ffffff;
  white-space: nowrap;
}
.hide{
  height: 2rem;
  width: 11rem;
  background-color: rgb(255, 255, 255);
  margin-top: -29px;
  display: inline-table;
}@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





nav{
  background: #ffffff;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #040404;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

nav ul li.items1{
  position: relative;
  width: auto;
  margin: 0 16px;
  top: 21px;
  text-align: center;
  order: 3;
}
nav ul li.logo{
  flex: 1;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: rgb(9, 9, 9);
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: rgb(13, 12, 12);
  font-size: 22px;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
    margin-bottom: 14px;
  }
  nav ul li.items.show{
    display: block;
    height: 60px;
  }
  nav ul li.btn{
    display: block;

  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #0c0c0c,
                inset 0 0 10px #040404;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
  
}

.flex{
  display: flex;
  flex-wrap: wrap;

}
/* nav{
  display: flex;
  color: black;
  padding: 1rem;
} */
a{
  text-decoration: none;
  color: black;
}
/* nav a:hover{
  text-decoration: underline;
  font-size: 18px;
}

.logo{
  padding-right: 13rem;
  height: 30%;
}
.home,.about,.pro,.con{
  padding: 3rem 1rem 0 1rem;
}
.test{
  display: none;
}
.sellang{
  right: 5%;
  top: 3rem;
  position: absolute; 
}*/
select{
  border:1px black;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}
html{
  font-family: sans-serif;
}

/* use this body styles in your code */
body{
  background-color: #fafdff;
  color: white;
  /* margin: 0 2% 0 2%; */
  overflow-x: hidden;
  margin-left: 0rem;
}

main{
  position: relative;
  width: 100%;
}
/* carousel section */
.wrapper{
  display: flex;
  max-width: auto;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.left,.right{
  z-index: 10;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  z-index: -2;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
  #slider-content h2{
    font-size:110px;
    line-height: 100px;
    width: 25px;
}
}


/* distortion slider */


main{
  margin-top:3rem;
  margin-bottom:8rem;
}
#slider{
  width: 100%;
  height: 100%;
  margin: 4rem 0rem 8rem 0rem;
  position: relative;
  top: 120px;
}

#slider canvas{
  width:90vw !important;
  max-height:fit-content;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity:1;
  filter: brightness(70%);
  text-align: center;
  background-color:white;
}

#slider img{
  width: 65%;
  position: relative;
  z-index: 0;
  display: inline;
  background-color: white;
  

}
.img1{
  display:none;
  border:0;
  opacity: 0;
}

#logo1{
  display:block;
}
#slider-inner{
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  max-width: auto;
  height: 100%;
  margin: -118px 0;
  z-index: 3;

}
#slider{
  margin-bottom: 10rem;
}

#slider-content{
  padding:0 10px;
  margin-left: 6rem;
  align-items: center;
}

/* changes in this will affect the elbin part */
#slider-content h2{
  font-family: serif;
  font-weight: 400;
  font-size: 30vw;
  letter-spacing: -1px;
  color: #fff;
  line-height: 30px;
  margin: 20px 0px 60px;
  z-index: 5;
  opacity: 1;
  width: 45rem;

}

@media screen and (min-width:320px){
  #slider-content h2{
      font-size:110px;
      line-height: 100px;
  }
}

#slider-content span{
  display: inline-block;
  z-index: 999;
  opacity: 1;
}

/* changes in this will affect the our products part */
#slider-content .meta{
  display: inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  letter-spacing: 5px;
  left: 20px;
  color:#ffffff;
  text-transform:uppercase;
  position: relative;
  font-weight:600;
  opacity: 1;
}

@media screen and (min-width:320px){
  #slider-content .meta{
      font-size:13px;
  }
}

#slider-content .meta::after{
  content:"";
  display:block;
  position:absolute;
  top :5px;
  right: -55px;
  width:45px;
  height: 2px;
  background-color:transparent;
}

/* changes in this will affect the cashewnut section */
#slider-content #slide-status{
  margin-top:10px;
  font-family: serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}

@media screen and (min-width:800px){
  #slider-content #slide-status{
      font-size: 34px;
  }
}

@media screen and (max-width:700px){
  #slider-title #slide-status{
    font-size:14px;
  }
  
}
#pagination{
  position:absolute;
  top:50px;
  transform: translateY(-50%);
  right: 30px;
  z-index: 6;
}

#pagination button{
  display:block;
  appearance: none;
  border: 0;
  width:16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top:250px;
  padding: 0;
  margin: 30px 0;
  cursor:pointer;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  outline: none;
  right: 4rem;
}

#pagination button:hover{
  opacity: 0.5;
}

#pagination button.active{
  opacity: 1;
}

#pagination button.active::before{
  width:300%;
  height: 300%;
  opacity:1;
}

#pagination button::before{
  content: "";
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255,255,255,0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.loading::before{
content:"";
position: fixed;  
z-index: 100000000;
top:0;
left:0;
width:100%;
background:black;

}

.loading::after{
  content:"";
  position:fixed;
  z-index:100000000;
  top:50%;
  left:50%;
  width:60px;
  height:60px;
  margin: -30px 0 0 -30px;
  pointer-events:none;
  border-radius: 50%;
  opacity:0.4s;
  background:white;
  animation: loaderanimation 0.7s linear infinite alternate forwards;
  display:flex
}

@keyframes loaderanimation{
  to{
      opacity:1;
      transform:scale3d(0.5,0.5,1);
  }
}



/* footer css */
.content1{
  position: bottom;
  margin: 0px;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  margin-top: 3rem;
  position: bottom;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #f7f7f7;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #fefafa;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.left .content .fas{
  font-size: 1.4375rem;
  background: #fdfafa;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.left .content .fas:hover{
  background: #f12020;
}
.left .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.left .content .phone{
  margin: 15px 0;
}

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 20px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
  color: white;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: bottom;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/* Auto Slide images */

.sliding-container h2{
  color:black;
  padding:2rem;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif
}

.container{
  padding-top:50px;
  margin-left: 2rem;
  margin-right: 2rem;
  display:flex;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
  top:60%;
}

.card{
  border: black solid 0px;
}

.card-img{
  width:19rem;
  height:200px;
}

.card-title{
margin-top: 5rem;
text-align: center;
}
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
opacity: 1;
background-color: rgba(80, 80, 80, 0.192);
top: 0;
left: 7rem;
width: 16.7rem;
}

.imgt{
color: transparent;

}
.gallery  {
  padding-bottom: 3rem;
  --d: 9s;
  display: grid;
  overflow: hidden;
  width: auto;
}
.gallery > .img {
  grid-area: 1/5;
  height: 210px;
  aspect-ratio: 1.5;
  padding: 0 4rem 0 4rem;
  animation: r var(--d) linear infinite;
}
.gallery > .img:nth-child(2) {animation-delay: calc(1*var(--d)/-5)}
.gallery > .img:nth-child(3) {animation-delay: calc(2*var(--d)/-5)}
.gallery > .img:nth-child(4) {animation-delay: calc(3*var(--d)/-5)}
.gallery > .img:nth-child(5) {animation-delay: calc(4*var(--d)/-5)}

@keyframes r {
  75%    {transform: translate(-300%)}
  75.01% {transform: translate( 100%)}
}
.img:hover .imgt{
  opacity: 1;
  font-weight: 500;
  display:block;
  color: black;
  text-align: center;
}
.img:hover .card-img{
  display: block;
  opacity: 0.3;
}

.gallery:hover > .img {
  animation-play-state: paused;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: none;
}
#google_translate_element {
  font-family: arial;
  font-size: 11px;
  color: #ffffff;
  white-space: nowrap;
}
.hide{
  height: 2rem;
  width: 11rem;
  background-color: rgb(255, 255, 255);
  margin-top: -29px;
  display: inline-table;
}
